@model Shopping.Models.Role
@{
    ViewData["Title"] = Model.RoleName + " " + "- Thông tin quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index" class="breadcrumb-item">Danh sách quyền truy cập</a>
            <span class="breadcrumb-item active">Thông tin quyền : @Model.RoleName</span>
        </nav>
    </div>
</div>


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Basic info</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.RoleId</td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td>@Model.RoleName</td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td>@Model.Description</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-info btn-tone m-r-5" asp-action="Edit" asp-route-id="@Model.RoleId" role="button">Edit</a>
    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Index" role="button">Back to List</a>
</div>
