@model IEnumerable<Shopping.Models.Account>

@{
    ViewData["Title"] = "Index Admin Accounts";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Wrapper START -->
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <span class="breadcrumb-item active">Quản lý tài khoản</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <!-- PHÂN LOẠI DANH SÁCH -->
                <div class="col-lg-8">
                    <div class="d-md-flex">
                        <div class="m-b-10 m-r-15">
                            <select class="custom-select" id="idrole" name="idrole" style="min-width: 180px;" asp-items="ViewBag.QuyenTruyCap">
                                <option value="" disabled selected>Permission</option>
                            </select>
                        </div>
                        <div class="m-b-10">
                            <select class="custom-select" id="idstatus" name="idstatus" style="min-width: 180px;" asp-items="ViewBag.lsTrangThai">
                                <option value="" disabled selected>Status</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- ADD TÀI KHOẢN MỚI - CHƯA LÀM :)) -->
                <div class="col-lg-4 text-right">
                    <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Create">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        <span>Add Account</span>
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Last Login</th>
                            <th>Permission</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @if(Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.AccountId</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                                        <h6 class="m-b-0 m-l-10">@item.FullName</h6>
                                    </div>
                                </td>
                                <td>@item.Phone</td>
                                <td>@item.Email</td>
                                <td>@item.LastLogin</td>
                                <td>@item.Role.RoleName</td>
                                <td>
                                    @if(item.Active == true)
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-success badge-dot m-r-10"></div>
                                            <div>Active</div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center">
                                            <div class="badge badge-warning badge-dot m-r-10"></div>
                                            <div>Block</div>
                                        </div>
                                    }

                                </td>
                                <td class="text-right">
                                    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Details" asp-route-id="@item.AccountId">View</a>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Edit" asp-route-id="@item.AccountId">Edit</a>
                                    <a class="btn btn-danger btn-tone m-r-5" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                </table>
            </div>
        </div>
    </div>
<!-- Content Wrapper END -->