@model Shopping.Models.Category

@{
    ViewData["Title"] = Model.CatName + " " + "- Thông tin danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a asp-area="Admin" asp-controller="AdminCategories" asp-action="Index" class="breadcrumb-item">Danh sách danh mục</a>
            <span class="breadcrumb-item active">Thông tin sản phẩm : @Model.CatName</span>
        </nav>
    </div>
</div>

<div class="page-header no-gutters has-tab">
    <!-- ========== NAME ========== -->
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                <img src="~/images/category/@Model.Thumb" alt="@Model.Title">
            </div>
            <div class="m-l-15">
                <h4 class="m-b-0">@Model.CatName</h4>
                <p class="text-muted m-b-0">Code: @Model.CatId</p>
            </div>
        </div>
    </div>

    <!-- ========== TABS ========== -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#product-overview">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#product-images">Product Images</a>
        </li>
    </ul>
</div>

<div class="container-fluid">
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-overview">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Basic Info</h4>
                    <div class="table-responsive">
                        <table class="product-info-table m-t-20">
                            <tbody>
                                <tr>
                                    <td>Title
                                    <td>
                                    <td class="text-dark font-weight-semibold">@Model.Title</td>
                                </tr>
                                <tr>
                                    <td>Meta Keys</td>
                                    <td class="text-dark font-weight-semibold">@Model.MetaKey</td>
                                </tr>
                                <tr>
                                    <td>Meta Desc</td>
                                    <td class="text-dark font-weight-semibold">@Model.MetaDesc</td>
                                </tr>

                                <tr>
                                    <td>Alias</td>
                                    <td class="text-dark font-weight-semibold">@Model.Alias</td>
                                </tr>
                                <tr>
                                    <td>Active:</td>
                                    <td>
                                        @if (Model.Published)
                                        {
                                            <div class="switch m-r-10">
                                                <input type="checkbox" id="switch-1" checked="" disabled />
                                                <label for="switch-1"></label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="switch m-r-10">
                                                <input type="checkbox" id="switch-1" disabled />
                                                <label for="switch-1"></label>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Description</h4>
                </div>
                <div class="card-body">
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>


        <div class="tab-pane fade" id="product-images">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-fluid" src="~/images/products/@Model.Thumb" alt="@Model.Title">
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" src="assets/images/others/product-2.jpg" alt="">
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid" src="assets/images/others/product-3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-info btn-tone m-r-5" asp-action="Edit" asp-route-id="@Model.CatId" role="button">Edit</a>
    <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index" role="button">Back to List</a>
</div>